@use "../../styles/abstracts/" as *;

.formContainer {
  grid-area: form;
  padding: 20px 10px;
  background: linear-gradient(
    135deg,
    rgba(200, 225, 234, 0.9),
    rgba(200, 225, 234, 0.4)
  );
  border-radius: 10px;

  @media screen and (min-width: $media-breakpoint-medium) {
    padding: 40px;
  }
}

.zipInputContainer {
  max-width: 375px;
  display: flex;
  flex-wrap: wrap;
}

.zipCodeLabel {
  flex-basis: 100%;
}

.zipCodeInput {
  flex-grow: 1;
  max-width: 250px;
}

.zipCodeButton {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin-left: 10px;
  cursor: pointer;
  background-color: $primary-color;
  color: white;
  border: 2px solid $primary-color;
  font-weight: 700;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: $form-element-margin;
  margin-left: 5px;

  &:hover {
    background-color: white;
    color: $primary-color;
    .arrowForwardSvg path {
      fill: $primary-color;
    }
  }

  .arrowForwardSvg {
    height: 20px;
    width: 20px;
  }
}
