@use "../../styles/abstracts/" as *;

.cursor {
  background-color: $light-cyan;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  mix-blend-mode: "difference";
}
