@use "../../../styles/abstracts/" as *;

.sectionTitleContainer {
  background: url("../../../assets/title-background.jpg");
  background-size: cover;
  background-position: center;
  height: 250px;
  width: 100%;
  position: sticky;
  top: 167px;
  z-index: -1;

  @media screen and (min-width: $media-breakpoint-medium) {
    top: 120px;
  }
}

.sectionTitle {
  @include main-section-title;
  text-align: center;

  position: absolute;
  top: 40px;
  width: 100%;
  z-index: 2;
}
