@use "../../styles/abstracts/" as *;

.widgetsGrid {
  min-height: 500px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "form"
    "welcome"
    "clock"
    "weather"
    "sun"
    "pomodoro"
    "water-cooler"
    "water-cooler";
  gap: 25px;
  padding: 10px;
  border-radius: 10px;
  background-color: $light-grey;

  @media screen and (min-width: $media-breakpoint-medium) {
    grid-template-columns: repeat(2, minmax(280px, 1fr));
    grid-template-areas:
      "form form"
      "welcome welcome"
      "clock weather"
      "sun water-cooler"
      "pomodoro water-cooler";
    padding: 25px;
  }

  @media screen and (min-width: $media-breakpoint-extra-large) {
    grid-template-columns: repeat(3, minmax(310px, 1fr));
    grid-template-areas:
      "form form form"
      "welcome welcome welcome"
      "weather clock water-cooler"
      "sun pomodoro water-cooler";
  }
}
