@use "../../styles/abstracts/" as *;

.pomodoroWidgetContainer {
  height: 325px;
}

.timerContainer {
  position: relative;
  display: flex;
  justify-content: center;
  top: -20px;
}

.timerInfoAndControls {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-45%, -40%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timeContainer {
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 5px;
  width: 92px;
  text-align: left;
}

.timerControlsContainer {
  display: flex;
  justify-content: flex-end;
  width: 90%;
  height: 30px;
  position: relative;
  z-index: 1;
}

.pauseSVG,
.playSVG,
.clearSVG,
.controlSVG {
  width: auto;
  height: 12px;
}

.stopButton,
.playButton,
.clearButton {
  height: 30px;
  width: 30px;
  padding: 5px;
  margin-right: 5px;
}

.playButton {
  padding: 5px 2px 5px 5px;
}

.clearButton {
  background-color: $accent-color;
}

.timerType {
  display: flex;
  width: 90%;
  margin: 10px auto 0;
  font-size: 18px;
}

.timerTypeButton {
  flex: 1;
  border: 0;
  padding: 5px 10px;
  border: 2px solid $primary-color;
  cursor: pointer;

  &:hover {
    background-color: $primary-color;
    color: $white;
  }
}

.focusButton {
  background-color: $secondary-color;
  border-right-width: 1px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.breakButton {
  background-color: $white;
  border-left-width: 1px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.controlButtonsContainer {
  height: 30px;
}
