@use "./variables" as *;

// START LAYOUT MIXINS

@mixin layout-container($padding: $layout-padding) {
  max-width: 1250px;
  margin: 0 auto;
  padding: $padding;
}

@mixin main-section-container {
  @include layout-container(0);
}

// END LAYOUT MIXINS

// START FORM MIXINS

@mixin text-input {
  border: $input-border;
  margin: $input-margin;
  padding: $input-padding;
  border-radius: $input-border-radius;
  height: $input-height;
}

// END FORM MIXINS

// START BUTTON MIXINS

@mixin primary-button {
  font-size: $primary-button-font-size;
  padding: $primary-button-padding;
  color: $primary-button-color;
  border: $primary-button-border;
  cursor: $primary-button-cursor;
  background-color: $primary-button-background-color;
  line-height: 27px;

  &:hover {
    background-color: $primary-button-hover-background-color;
    color: $primary-button-hover-color;
    border-color: $primary-button-hover-border-color;
  }
}

//END BUTTON MIXINS

// START NAV MIXINS

@mixin nav-link {
  margin-right: 20px;
  padding: 5px 0;
  position: relative;
  font-size: 18px;

  &:hover {
    cursor: pointer;
    border-bottom: 2px solid black;
  }
}

// END NAV MIXINS

// START TYPOGRAPHY MIXINS

@mixin main-section-title {
  font-size: $main-section-title-font-size-mobile;
  font-weight: $main-section-title-font-weight;
  color: $main-section-title-color;
  text-align: center;
  padding: 60px 0 40px;

  @media screen and (min-width: $media-breakpoint-medium) {
    font-size: $main-section-title-font-size;
    padding: 40px 0;
  }
}

@mixin heading-3 {
  font-size: 20px;
  text-align: left;
  padding: 10px 0;
}

@mixin heading-4 {
  text-align: left;
  padding: 10px 0;
}

@mixin widget-no-data-message {
  text-align: center;
  margin: 0 auto;
  padding: 10px;
  max-width: 300px;
}

// END TYPOGRAPHY MIXINS
