@use "./variables" as *;

@mixin layout-container($padding: $layout-padding) {
  max-width: 1250px;
  margin: 0 auto;
  padding: $padding;
}

@mixin text-input {
  border: $input-border;
  margin: $input-margin;
  padding: $input-padding;
  border-radius: $input-border-radius;
  height: $input-height;
}
