$dark-blue: #223945;
$pale-blue: #edf5f8;
$light-cyan: #c8e1ea;
$orange: #ec6e4c;
$dark-orange: #d53f17;
$light-grey: #f6fafb;
$grey: #f5f5f5;
$white: #fff;
$black: #000;
$red: #ff0000;

$error-color: $red;
$primary-color: $dark-blue;
$secondary-color: $light-cyan;
$accent-color: $orange;
$dark-accent-color: $dark-orange;
$text-color: $black;

$error-text-color: $error-color;

$media-breakpoint-small: 576px;
$media-breakpoint-medium: 768px;
$media-breakpoint-large: 992px;
$media-breakpoint-extra-large: 1200px;

$layout-padding: 20px;
$form-element-margin: 5px 5px 5px 0;

$input-border: 1px solid #dddddd;
$input-margin: 5px;
$input-padding: 5px;
$input-border-radius: 5px;
$input-height: 40px;

$primary-button-font-size: 18px;
$primary-button-padding: 5px 25px;
$primary-button-color: $text-color;
$primary-button-border: 2px solid #223945;
$primary-button-cursor: pointer;
$primary-button-background-color: $secondary-color;
$primary-button-hover-background-color: $white;
$primary-button-hover-color: $black;
$primary-button-hover-border-color: $primary-color;

$section-title-font-size-mobile: 24px;
$section-title-font-size: 40px;
$section-title-font-weight: 700;
