@use "../../styles/abstracts/" as *;

.sectionContainer {
  @include layout-container(0);
}

.sectionTitle {
  @include section-title;
  padding: 20px;
  margin-bottom: 30px;
}

.widgetsTitle {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 10px;
  // margin-left: 10px;
  margin-right: 40px;
  text-align: left;
  padding: 10px;

  @media screen and (min-width: $media-breakpoint-medium) {
    margin-left: 40px;
  }
}

.widgetsGrid {
  min-height: 500px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "form"
    "welcome"
    "clock"
    "weather"
    "sun"
    "pomodoro"
    "water-cooler"
    "water-cooler";
  gap: 25px;
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
  background-color: $light-grey;

  @media screen and (min-width: $media-breakpoint-medium) {
    grid-template-columns: repeat(2, minmax(310px, 1fr));
    grid-template-areas:
      "form form"
      "welcome welcome"
      "clock weather"
      "sun water-cooler"
      "pomodoro water-cooler";
    margin: 40px;
    padding: 25px;
  }

  @media screen and (min-width: $media-breakpoint-extra-large) {
    grid-template-columns: repeat(3, minmax(310px, 1fr));
    grid-template-areas:
      "form form form"
      "welcome welcome welcome"
      "weather clock water-cooler"
      "sun pomodoro water-cooler";
  }
}

.projectSection {
  padding: 10px;
  margin-top: 20px;

  @media screen and (min-width: $media-breakpoint-medium) {
    padding: 20px;
  }
}
