@use "../../styles/abstracts/" as *;

.sectionContainer {
  @include layout-container(0);
}

.sectionTitle {
  @include section-title;
  padding: 20px;
  margin-bottom: 30px;
}

.widgetsTitle {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 10px;
  margin-left: 40px;
  margin-right: 40px;
  text-align: left;
  padding: 10px;
}

.widgetsGrid {
  min-height: 500px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 1fr);
  gap: 25px;
  padding: 25px;
  padding-bottom: 0;
  margin: 40px;
  margin-top: 10px;
  border-radius: 10px;
  background-color: $light-grey;

  @media screen and (min-width: $media-breakpoint-medium) {
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
  }
}

.projectSection {
  // background-color: $light-grey;
  padding: 20px;
  margin-top: 20px;
}
