@use "../../styles/abstracts/" as *;

.locationContainer {
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;

  h3,
  p {
    font-size: 16px;
  }

  p {
    margin-left: 5px;
  }
}
