@use "../../styles/abstracts/" as *;

.homeContainer {
  @include layout-container;
  // padding: $layout-padding;
}

.homeHeading {
  font-size: 24px;
  text-align: center;

  @media screen and (min-width: $media-breakpoint-medium) {
    font-size: 28px;
    text-align: left;
  }
}

.keyPointsList {
  list-style-type: disc;
  list-style-position: inside;
  margin: 20px 0;
}

.widgetsContainer {
  padding: 40px 0;
  min-height: 500px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
  gap: 30px 20px;
}

.introText {
  padding: 20px;
  font-size: 18px;
  max-width: 650px;
  margin-right: 20px;
}

.scrollVideo {
  margin: 0 auto;
}

.landingContainer {
  margin: 40px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
