@use "../../styles/abstracts/" as *;

.homeContainer {
  @include layout-container;
  // padding: $layout-padding;
}

.homeHeading {
  font-size: 24px;
  text-align: center;

  @media screen and (min-width: $media-breakpoint-medium) {
    font-size: 28px;
    text-align: left;
  }
}

.keyPointsList {
  list-style-type: disc;
  list-style-position: inside;
  margin: 20px 0;
}

.widgetsContainer {
  padding: 40px 0;
  min-height: 500px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
