.fullAreaButton {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex: 1;
  background-color: transparent;
  border: none;
  color: #000;
  border-radius: 0;
}
