@use "../../styles/abstracts/" as *;

.sectionContainer {
  @include main-section-container;

  h3 {
    @include heading-3;
  }

  h4 {
    @include heading-4;
  }
}

.sectionContent {
  @include main-section-content;
}

.overviewSection {
  padding: 20px;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: $media-breakpoint-medium) {
    flex-direction: row;
    justify-content: space-evenly;
  }
}

.overviewImg {
  max-width: 300px;
  width: 100%;
  height: auto;
}

.overviewText {
  max-width: 650px;
  width: 100%;
  font-size: 18px;
  padding: 40px;
}

.skillsContainer {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 20px;

  li {
    background-color: $light-cyan;
    padding: 10px 20px;
    margin: 5px 10px 5px 0;
  }
}

.backgroundSection {
  padding: 10px;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  align-items: start;

  @media screen and (min-width: $media-breakpoint-small) {
    flex-direction: row;
    align-items: center;
  }
}

.backgroundLocation {
  font-weight: 700;
}

.backgroundLogo {
  height: 40px;
  width: auto;
  margin: 20px;
  margin-left: 0;

  @media screen and (min-width: $media-breakpoint-small) {
    margin-left: 20px;
    min-width: 70px;
  }
}

.experienceBackgroundLogo {
  width: 70px;
  height: auto;
}

.aboutInfo {
  padding: 20px;
  border-radius: $main-section-border-radius;
}

.aboutSubsection {
  padding: 10px;

  @media screen and (min-width: $media-breakpoint-medium) {
    padding: 30px;
  }
}
