@use "../../styles/abstracts/" as *;

.aboutInfo {
  h3 {
    @include heading-3;
  }

  h4 {
    @include heading-4;
  }
}

.overviewSection {
  padding: 20px;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  // border: 1px solid black;

  @media screen and (min-width: $media-breakpoint-medium) {
    flex-direction: row;
    justify-content: flex-start;
  }
}

.overviewImg {
  max-width: 175px;
  width: 100%;
  height: auto;
  flex: 1;
  border: 1px solid $light-grey;
  box-shadow: $common-box-shadow;
  border-radius: 50%;
}

.overviewText {
  font-size: 18px;
  padding: 40px 0;
  flex: 1;

  @media screen and (min-width: $media-breakpoint-small) {
    padding: 20px 80px;
  }
}

.skillsContainer {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 20px;

  li {
    background-color: $light-cyan;
    padding: 15px 30px;
    margin: 5px 10px 5px 0;
  }
}

.backgroundContainer {
  display: flex;
  flex-wrap: wrap;

  h3 {
    flex-basis: 100%;
    padding-bottom: 20px;
  }
}

.backgroundSection {
  padding: 20px;
  padding-left: 20px;
  margin: 0 20px 20px 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: $white;
  box-shadow: $common-box-shadow;
  border: 1px solid $light-grey;
  width: 100%;
  max-width: 500px;

  @media screen and (min-width: $media-breakpoint-small) {
    flex-direction: row;
    align-items: center;
    padding-left: 0;
  }
}

.backgroundLocation {
  font-weight: 700;
}

.backgroundLogo {
  height: 40px;
  width: auto;
  margin: 20px;
  margin-left: 0;

  @media screen and (min-width: $media-breakpoint-small) {
    margin-left: 20px;
    min-width: 70px;
  }
}

.experienceBackgroundLogo {
  width: 70px;
  height: auto;
}

.aboutInfo {
  padding: 20px;
  border-radius: $main-section-border-radius;
}

.aboutSubsection {
  padding: 10px;

  @media screen and (min-width: $media-breakpoint-medium) {
    padding: 30px;
  }
}
