@use "../../../styles/abstracts/" as *;

.header {
  position: fixed;
  background-color: white;
  z-index: 10;
  width: 100%;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
}

.headerInner {
  @include layout-container;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  @media screen and (min-width: $media-breakpoint-medium) {
    flex-direction: row;
  }
}

.pageTitle {
  font-weight: 700;
  font-size: 20px;
  margin-right: 20px;
}

.navList {
  display: flex;
  align-items: center;
  margin: 10px 0;

  .link {
    margin: 0 20px;
    @include nav-link;

    @media screen and (min-width: $media-breakpoint-medium) {
      margin: 0 20px 0 0;
    }
  }

  @media screen and (min-width: $media-breakpoint-medium) {
    margin-left: auto;
  }
}

.underline {
  position: absolute;
  bottom: -2px;
  left: 0;
  right: 0;
  height: 2px;
  background: black;
}

.profileImg {
  width: 80px;
  height: 80px;
}

.titleImageContainer {
  display: flex;
  align-items: center;
}

.scrollToTopButton {
  display: none;

  @media screen and (min-width: $media-breakpoint-medium) {
    display: block;
    border: 2px solid $black;
    line-height: 27px;
    background-color: transparent;
    @include nav-link;
    padding: $primary-button-padding;
    margin: 10px 0 10px 25px;
    transition: all 0.25s linear;
    border-radius: 10px;

    &.emphasizeButton {
      background-color: $light-cyan;

      &:hover {
        background-color: $white;
      }
    }
  }
}
