.weatherDisplayContainer {
  margin-top: 20px;
}

.temperatureContainer {
  font-size: 40px;
  font-weight: 700;
}

.primaryWeatherContainer {
  display: flex;
  align-items: center;
  margin: 30px 0px 20px;
}

.icon {
  width: 60px;
  height: auto;
  margin-left: 10px;
}

.weatherInfoHeading {
  margin-right: 5px;
  font-weight: 400;
}

.secondaryWeatherContainer {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: 50px 50px;
  gap: 10px 0;
  margin-bottom: 10px;
}

.weatherInfoItem {
  display: flex;
  align-items: center;
}

.description {
  text-transform: capitalize;
}
