.weatherDisplayContainer {
  margin-top: 20px;
}

.temperatureContainer {
  font-size: 40px;
  font-weight: 700;
}

.primaryWeatherContainer {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.icon {
  width: 50px;
  height: auto;
  margin-left: 10px;
}

.feelsLikeHeading,
.highHeading,
.lowHeading,
.humidityHeading,
.windHeading {
  margin-right: 5px;
  font-weight: 400;
}

.lowHeading {
  margin-left: 5px;
  padding-left: 5px;
  border-left: 1px solid #000;
}

.windContainer,
.humidityContainer,
.highLowContainer,
.feelsLikeContainer {
  display: flex;
  align-items: center;
}

.secondaryWeatherContainer {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 10px 0;
  margin-bottom: 10px;
}
