@use "../../styles/abstracts/" as *;

.chatWidgetContainer {
  grid-row: 3/6;
  grid-column: 3;
  grid-area: water-cooler;
  padding: 0;
  border: none;
  height: 675px;
  display: flex;
  flex-direction: column;
}

.computer,
.user {
  padding: 8px 15px;
  margin: 10px;
  max-width: 250px;
  border-radius: 15px;
  word-break: break-word;
}

.computer {
  background-color: #edf5f8;
  margin-right: auto;
}

.user {
  background-color: #1d3e4c;
  color: white;
  margin-left: auto;
}

.chatHeader {
  padding: 30px 30px 10px;
  background-color: rgba(237, 245, 248, 0.25);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 1;
  height: 150px;
}

.circle {
  height: 80px;
  width: 80px;
  background-color: #edf5f8;
  border-radius: 50%;
  margin-bottom: 5px;
}

.chatInfo {
  text-align: center;
}

.dialogContainer {
  height: 350px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.dialogContainer::-webkit-scrollbar {
  display: none;
}

.dialog {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 5px;
  min-height: 100%;
}

.submitContainer {
  padding: 10px;
  flex: 1;
  background-color: #fff;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.submitForm {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.submitButton,
.restartButton {
  margin-bottom: 5px;
}

.textInput {
  padding: 5px 5px 145px;
  margin: 0;
  width: 100%;
  border: none;
  line-height: 1;
}

.responseContainer {
  border: $input-border;
  padding: 0 5px;
  border-radius: $input-border-radius;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.chatError {
  margin: 2px auto;
  color: $error-text-color;
  height: 22px;
  font-size: 16px;
  font-weight: 700;
}

.enterChatButton {
  position: relative;
  margin: 50px;
}

.preChatContainer {
  // background: no-repeat url("../../assets/water-cooler-bubbles.svg");
  background-size: 175px;
  background-position: center top;
  height: 100%;
  width: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
}

.loadingDot {
  height: 10px;
  width: 10px;
  background-color: #a9a9a9;
  border-radius: 50%;
  display: inline-block;
  margin: 0 2px;
}

.chatEndMessage {
  font-weight: 700;
  text-align: center;
  color: $accent-color;
}
