.sunWidgetContainerEmpty {
  height: 350px;
}

.sunWidgetContainer {
  height: 350px;
}

.sunTimeContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 190px;
}

.sunriseContainer,
.sunsetContainer {
  text-align: center;
}

.sunArc {
  position: absolute;
  width: 90%;
  margin-left: calc((100% - 90%) / 2);
  bottom: 110px;
  left: 0px;
}

.sunInfoContainer {
  position: relative;
  margin: 0 10px;
}
