@use "../../styles/abstracts/" as *;

.sunWidgetContainerEmpty,
.sunWidgetContainer {
  height: 325px;
  grid-area: sun;
}

.sunTimeContainer {
  display: flex;
  justify-content: space-between;
  margin: 0 25px 10px 25px;
  padding: 5px 0;
  position: relative;
  top: -32px;
  border-top: 2px solid $primary-color;
}

.sunriseContainer,
.sunsetContainer {
  text-align: center;
}

.sunInfoContainer {
  position: relative;
  height: 68px;
  margin: 15px 0;
}

.sunPositionContainer {
  width: 200px;
  margin: 0 auto;
  position: relative;
  z-index: 10;
  margin-top: 20px;
}
.hoursInfo {
  display: grid;
  grid-template-columns: repeat(2, 100px);
  padding-top: 5px;

  > * {
    line-height: 1.2;
  }
}

.noDataMessage {
  @include widget-no-data-message;
}
