.sunWidgetContainerEmpty,
.sunWidgetContainer {
  height: 325px;
}

.sunTimeContainer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 2px solid #efefef;
}

.sunriseContainer,
.sunsetContainer {
  text-align: center;
}

.sunInfoContainer {
  position: relative;
  margin: 0 10px;
  bottom: 18px;
}
