@use "../../../styles/abstracts/" as *;

.label {
  padding-right: 10px;
  margin: $form-element-margin;
  font-weight: 700;
  font-size: 18px;
}

.input {
  @include text-input;
}

.hint {
  margin: $form-element-margin;
  margin-top: 0;
}

.error {
  color: red;
  line-height: 1;
  margin: $form-element-margin;
}
