.weatherContainer {
  height: auto;
  width: 400px;
  border: 2px solid #ffffff;
  margin: 0 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 15px;
}

.title {
  text-align: center;
  margin-bottom: 10px;
}
