@use "../../../styles/abstracts/" as *;

.sectionDividerContainer {
  background-color: $light-grey;
  height: 75px;
  width: 100%;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}

.sectionDividerShape {
  height: 75px;
  width: auto;
  background-color: $light-cyan;
  mask-image: url("../../../assets/shape.svg");
  mask-size: contain;
  mask-position: center;
}

.sectionTitleShape {
  height: 75px;
  width: auto;
  margin: 0 auto;
}

.sectionTitle {
  @include main-section-title;
}
